@model List<MechanikKonsola.Entities.SprzedazCzesci>;

<div>
    <table>
        @foreach (var item in Model)
        {
            <tr> <td>@item.Id. </td><td> @item.NazwaCzesci </td> <td>@item.IloscNaMagazynie</td><td>@item.Cena</td><td><a class="btn btn-outline-success float-right" asp-action="ZakCzesci" asp-route-ID=@item.Id>Zakup</a></td> </tr>

        }

    </table>

    <a class="btn btn-outline-success float-right" asp-action="Index">Powrót</a>
</div>

