<div> 
<table>
    <tr>
        <td>
            <a class="btn btn-outline-success float-right" asp-action="DodajRezerwacje">Zarezerwuj Termin!!!</a>
        </td>
        <td>
        <a class="btn btn-outline-success float-right" asp-action="Uslugi">Sprawdź nasze usługi!</a>
        </td>
        <td>
        <a class="btn btn-outline-success float-right" asp-action="Czesci">Zakup Czesci</a>
        </td>
    </tr>


</table>

    
</div>