@model List<MechanikKonsola.Entities.Uslugi>;

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nazwa Usługi</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.NazwaUslugi</td>
                    <td><a class="btn btn-outline-success" asp-action="DodajRezerwacje">Rezerwuj termin</a></td>
                </tr>
            }
        </tbody>
    </table>

    <a class="btn btn-outline-success float-right" asp-action="Index">Powrót</a>
</div>